ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: brown;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #010101;
}

#welcome-section {
    background-color: #252628;
    display: flex;
    height: 80vh;
    justify-content: center;
}

h1 p {
    color: white;
    padding-top: 10%;
    font-family: "Franklin Gothic Medium";
    font-size: 4rem;
}

#welcome-section>p {
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 2rem;
    padding-top: 15%;
    margin-top: 5%;
    margin-right: 10%;
}